body {
  background-color: yellow;
  fill-rule: evenodd;
}

.hias {
  background-image: url('images/mathias.png');
  width: 300px;
  height: 300px;
}

.hias-svg {
  background-image: url('images/mathias.svg');
  width: 300px;
  height: 300px;
}
